<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<body>
<div th:fragment="imageUploader(fieldName, fieldLabelKey)" class="image-fragment">
    <div class="mb-3">
        <label for="image" class="form-label" th:text="#{${fieldLabelKey}}"></label>

        <div class="image-upload-controls">
            <input type="file" id="image" class="form-control mb-2" accept="image/*"/>
            <button type="button" id="upload" class="btn btn-bookshare" th:text="#{label.upload}"></button>
        </div>

        <div class="image-display"></div>
    </div>

    <script type="text/javascript" th:inline="javascript">
        const fieldName = /*[[${fieldName}]]*/ '';

        $(function () {
            $('button[id="upload"]').on('click', function (e) {
                const uploadButton = $(e.target), fragment = $(uploadButton).closest('.image-fragment'),
                    uploadControls = $(fragment).find('.image-upload-controls'), imageDisplay  = $(fragment).find('.image-display');

                let files = $('#image')[0].files;

                if (files.length === 0) {
                    alert('Please select an image first.');
                    return;
                }

                let formData = new FormData();
                formData.append('file', files[0]);

                $.ajax({
                    type: 'POST',
                    async: true,
                    url: '/image/upload',
                    data: formData,
                    processData: false,
                    contentType: false,
                    beforeSend: function () {
                        uploadButton.hide();
                        showLoader();
                    },
                    success: function (data) {
                        let imageInput = $('<input>', {
                            type: 'hidden',
                            id: fieldName,
                            name: fieldName,
                            value: data.id,
                        });

                        fragment.closest('form').append(imageInput);
                        uploadControls.hide();

                        let $thumbnail = $('<img>', {
                            src: '/image/' + data.id,
                            alt: 'Image',
                        });

                        let $removeLink = $('<button>', {
                            'type': 'button',
                            'text': '×',
                            'class': 'btn btn-danger remove-image ms-1',
                            'data-file-id': data.id,

                        }).on('click', (e) => {
                            removeImage(fieldName);
                            $(e.target).parent().remove();
                            uploadControls.show();
                        });

                        let $thumbnailHolder = $('<div>', {
                            class: 'thumbnail-container ms-1'
                        }).append($thumbnail);

                        let $imgContainer = $('<div>', {class: 'col-4 col-form-label'})
                            .append($thumbnailHolder)
                            .append($removeLink);

                        imageDisplay.append($imgContainer);
                    },
                    error: function () {
                        alert('Upload was not successful!');
                    },
                    complete: function () {
                        fragment.find('#image').val('');
                        uploadButton.show();
                        removeLoader();
                    }
                });
            });
        });

        function removeImage(fieldName) {
            $(`input[id="${fieldName}"]`).remove();
        }
    </script>
</div>
</body>