<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-md bg-bookshare shadow-lg">
    <div class="container">
        <a class="navbar-brand" href="/" aria-label="BookShare">
            <img th:src="@{/img/bookshare-logo.png}" alt="Logo" class="img-fluid" style="max-height: 100px; max-width: 180px;">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto gap-2">
                <li class="nav-item">
                    <a class="nav-link text-bookshare" th:href="@{/book/list}" th:text="#{label.browse}"></a>
                </li>

                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="btn btn-success text-light" href="/login" th:text="#{label.login}"></a>
                </li>

                <th:block sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link text-bookshare" th:href="@{/connections}" th:text="#{label.connections}"/>
                    </li>

                    <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN', 'MODERATOR')">
                        <a class="nav-link text-bookshare" th:href="@{/admin}" th:text="#{title.admin.dashboard}"/>
                    </li>

                    <li class="nav-item">
                        <button class="btn btn-bookshare rounded-5">
                            <i class="fa-solid fa-bell"></i>
                        </button>
                    </li>

                    <li class="nav-item">
                        <form th:action="@{/logout}" method="post" class="d-inline">
                            <button class="btn btn-danger text-light" type="submit" th:text="#{label.logout}"></button>
                        </form>
                    </li>
                </th:block>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>