<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">
<head>
    <title>Home</title>
</head>
<body>
<div layout:fragment="pageContent">
    <div class="d-flex justify-content-center align-items-center" style="min-height:100vh;">
        <div class="card text-center p-4" style="width:100%; max-width:400px;">
            <div class="d-flex mb-3 gap-2">
                <button type="button" class="btn btn-success flex-fill">Login</button>
                <button type="button" class="btn btn-success flex-fill">Register</button>
            </div>

            <div id="loginComponent" th:replace="~{app/login/fragments/loginComponent :: loginComponent}"></div>
        </div>
    </div>
</div>
</body>
</html>