<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">
<head>
    <title>Password Reset</title>
</head>
<body>
<div layout:fragment="pageContent">
    <div id="formContainer" class="d-flex justify-content-center align-items-center" style="min-height:100vh;">
        <div class="card text-center p-4" style="width:100%; max-width:600px;">
            <form th:action="@{/resetPassword}" th:object="${passwordResetDto}" method="post">
                <div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger py-2 text-center">
                    <ul class="list-unstyled mb-0">
                        <li th:each="error : ${#fields.globalErrors()}"
                            th:text="${error}"></li>
                    </ul>
                </div>

                <input type="hidden" name="token" th:value="*{token}"/>

                <div class="mb-3 text-start">
                    <label for="password" class="form-label" th:text="#{label.password}"></label>

                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-lock"></i></span>

                        <input type="password" class="form-control" id="password" th:field="*{password}"
                               th:placeholder="#{hint.password}" maxlength="32" required="required"/>
                    </div>

                    <div th:if="${#fields.hasErrors('password')}" class="text-danger">
                        <span th:errors="*{password}"></span>
                    </div>
                </div>

                <div class="mb-3 text-start">
                    <label for="confirmPassword" class="form-label" th:text="#{label.confirm.password}"></label>

                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                        <input type="password" class="form-control" id="confirmPassword" th:field="*{confirmPassword}"
                               th:placeholder="#{hint.confirm.password}" maxlength="32" required="required"/>
                    </div>

                    <div th:if="${#fields.hasErrors('confirmPassword')}" class="text-danger">
                        <span th:errors="*{confirmPassword}"></span>
                    </div>
                </div>

                <div class="d-grid mb-1">
                    <button type="submit" class="btn btn-bookshare" th:text="#{label.reset.password}"></button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>