<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">
<head>
    <title>Password Reset</title>
</head>
<body>
<div layout:fragment="pageContent">
    <div id="formContainer" class="d-flex justify-content-center align-items-center" style="min-height:100vh;">
        <div class="card text-center p-4" style="width:100%; max-width:600px;">
            <div id="invalidEmailMessage" th:if="${error}" class="alert alert-danger py-2 text-center"
                 th:text="#{error.invalid.email}"></div>

            <form th:action="@{/resetPasswordRequest}" method="post">
                <div class="mb-3 text-start">
                    <label for="email" class="form-label" th:text="#{label.email}"></label>

                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>

                        <input type="email" class="form-control" id="email" name="email"
                               th:placeholder="#{hint.email}" maxlength="254" required="required"/>
                    </div>
                </div>

                <div class="d-grid mb-1">
                    <button type="submit" class="btn btn-bookshare" th:text="#{label.reset.password}"></button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>