# Gmail
app.gmail.client.id=${GOOGLE_CLIENT_ID:client_id}
app.gmail.client.secret=${GOOGLE_CLIENT_SECRET:client_secret}
app.gmail.refresh.token=${GOOGLE_REFRESH_TOKEN:refresh_token}

spring.security.oauth2.client.registration.google.client-id=${app.gmail.client.id}
spring.security.oauth2.client.registration.google.client-secret=${app.gmail.client.secret}

# API
app.jwt.secret=${APP_JWT_SECRET:encoded_jwt_secret}
app.jwt.expiry.ms=${APP_JWT_EXPIRY_MS:1800000}
