<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="reviewList(reviews)">
    <div class="mb-3 p-3 bg-bookshare-50 rounded shadow-sm" th:each="review : ${book.reviews}">
        <div class="d-flex align-items-center mb-2">
            <img th:src="@{/img/user-avatar.png}" class="avatar me-2" alt="Reviewer">
            <strong th:text="${review.user.firstName}"></strong>
            <small class="text-muted ms-2"
                   th:text="${#temporals.format(review.reviewDate, 'dd MMM yyyy, hh:mm a')}"></small>
        </div>

        <div class="mb-2 rating">
            <th:block th:each="i : ${#numbers.sequence(1, review.rating)}">
                <li class="fa-solid fa-star text-warning"></li>
            </th:block>
            <th:block th:each="i : ${#numbers.sequence(1, 5 - review.rating)}" th:if="${5 - review.rating >= 1}">
                <li class="fa-regular fa-star text-warning"></li>
            </th:block>
        </div>

        <p class="review-text" th:text="${review.content}"></p>

        <button class="btn btn-sm btn-bookshare me-2">
            <i class="fa-regular fa-thumbs-up me-1"></i>&nbsp;<span th:text="#{label.like}"></span>
        </button>
    </div>
</div>
</body>
</html>