<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">
<head>
    <title>Home</title>
</head>
<body>
<div layout:fragment="pageContent">
    <div th:replace="~{app/pubHome :: pubHome}" sec:authorize="!isAuthenticated()"></div>
    <div th:fragment="~{app/home :: home}" sec:authorize="isAuthenticated()"></div>
</div>
</body>
</html>