<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div id="loginComponent" th:fragment="loginComponent">
    <div id="invalidLoginMsg" th:if="${param.error}" class="alert alert-danger py-2 text-center"
         th:text="#{error.invalid.email.password}"/>

    <!--/*@thymesVar id="login" type="com.zedapps.bookshare.dto.login.LoginRequestDto"*/-->
    <form th:action="@{/login}" th:object="${login}" method="post">
        <div class="mb-3 text-start">
            <label for="loginEmail" class="form-label" th:text="#{label.email}"/>
            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                <input type="email" class="form-control" id="loginEmail" th:field="*{username}"
                       th:placeholder="#{hint.email}" maxlength="254" required="required"/>
            </div>
        </div>
        <div class="mb-3 text-start">
            <label for="loginPass" class="form-label" th:text="#{label.password}"/>
            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                <input type="password" class="form-control" id="loginPassword" th:field="*{password}"
                       th:placeholder="#{hint.password}" maxlength="32" required="required"/>
                <button type="button" class="btn btn-outline-light text-muted border" id="toggleLoginPassword">
                    <span class="far fa-eye"></span>
                </button>
            </div>
        </div>
        <div class="d-grid mb-3">
            <button type="submit" class="btn btn-bookshare" th:text="#{label.login}"/>
        </div>
    </form>

    <script type="application/javascript">
        $(function () {
            bindTogglePasswordEventListener('#toggleLoginPassword', '#loginPassword');
        });
    </script>
</div>
</body>