<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="shelvedBooks">
    <div class="d-lg-none mb-3">
        <button class="btn btn-outline-secondary w-100" data-bs-toggle="offcanvas"
                data-bs-target="#shelvesOffCanvas" th:text="#{label.shelves}">
        </button>
    </div>

    <h2 class="mb-4 text-bookshare fw-bold" th:text="${currentShelf.name}"></h2>

    <div class="list-group list-group-flush">
        <div class="list-group-item bg-bookshare-50 mb-3 p-3 shadow-sm border-0 rounded"
             th:if="${currentShelf.books.isEmpty()}" th:text="#{label.empty.shelf.message}"></div>

        <div class="list-group-item bg-bookshare-50 mb-3 shadow-sm border-0 rounded"
             th:each="shelvedBook : ${currentShelf.books}"
             th:with="progress=${login.getReadingProgress(shelvedBook.book.id)}">

            <div th:replace="~{app/login/fragments/shelvedBookRowFragment :: shelfBookRow(${shelvedBook.book}, ${progress})}"></div>
        </div>
    </div>
</th:block>
</body>
</html>